body {
	font-size: 16rw;
	background-image: url("../Assests/Images/background.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

form {
	/* background-color: rgb(121, 68, 147);*/
	background-image: linear-gradient(rgb(121, 68, 147),purple);
	width: 350px;
	padding: 15px;
	border: 2px solid lightgray;
	margin-top: 50px;
	margin-left: 77%;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
select {
	border: 1px solid lightgrey;
	padding: 10px;
	display: block;
	width: 95%;
	border-radius: 2px;
}
input.inline {
	display: inline-block;
	width: auto;
	padding-right: 15px;
}
.row {
	padding-bottom: 15px;
}
.err {
	font-size: 0.8em;
	color: indianred;
}
#btn {
	display: block;
	width: 100%;
	height: 50px;
	border-color: violet;
	background-color: rgb(223, 13, 223);
	margin-top: 15px;
	box-shadow: 0 3px 4px rgb(49, 1, 49);
	font-size: 20px;
	font-weight: 900;
}
#btn:hover { 
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 
	0 0  0 2px rgb(255,255,255),
	0.3em 0.3em 1em rgba(0,0,0,0.3); 
}
#ref {
	padding-left: 80px;
	color: rgb(0, 0, 0);
}